html {
  box-sizing: border-box;
}

:root {
  --link-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --btn-text-color: #ffffff;
  --btn-background-color: #2196f3;
  --footer-background: #2f303a;
}

body {
  font-family: Roboto, serif;
  color: var(--title-color);
  width: 1600px;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid rgb(153, 51, 51);
}


.link,
.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--link-color);
}


/* ----------------HEADER--------------------- */

.header {
  padding: 32px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}


.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--link-color);
}

.logo-studio-header {
  color: #000000;
}

.header-logo {
  margin-right: 93px;
}

.logo-studio-footer {
  color: #ffffff;
}

.header-list-item:not(:last-child) {
margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mail {
  margin-right: 50px;
}

.header-contacts {
  margin-left: auto;
}

/* ---------------------HERO--------------------- */


.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 482px;
  padding-right: 482px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  width: 696px; 
  margin-left: 0;
}

.hero-btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background: var(--btn-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 32px;
  
  border: 1px solid transparent;
}
.hero-btn:hover {
  background: #188ce8;
}

/* ---------------------ABOUT--------------------- */

.about {
  padding: 94px;
}

.about.container{
  display: flex;
}

.about-list {
  display: flex;
  margin-left: -30px;
}

.about-item{
  flex-basis: calc((100%-90px)/4);
  margin-left: 30px;
}

.about-item
.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit; 
  margin-bottom: 10px;
}

.about-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ---------------------WORK--------------------- */

.work {
  padding: 94px 200px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}


.work-list-item +.work-list-item {
  margin-left: 30px;
}

/* ---------------------TEAM--------------------- */

.team {
  background: #f5f4fa;
  padding: 94px 200px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list-item{
  flex-basis: calc(100%/4-30px);
  margin-left: 30px;
}

/* .team-list-item +.team-list-item {
  margin-left: 30px;
} */

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 10px;
}

.team-list-prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ---------------------FOTTER--------------------- */

.footer {
  background: var(--footer-background);
}

.footer-list{
  margin-top: 20px;
}
.footer-list-address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-mail,
.fotter-tel {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*--------------------------PORTFOLIO--------------------- */

.portfolio-btn-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  background: var(--btn-background-color);
  color: var(--btn-text-color);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
